[Desktop Entry]
Type=Application
Name=CODA MUSIC
Comment=Music player
Exec=coda-music
Icon=coda-music
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=coda-music
